.page {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

main {
    flex: 1;
}

.Navbar {
    background-color: #0085ff;
    display: flex;
    justify-content: space-between;
    position: sticky;
    flex-wrap: wrap;
}

.imgStyling{
    display:flex;
    justify-content:center;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .Navbar {
        width: 100%;
        height: 100px;
        position: sticky;
        top: 0;
    }
}

.footerContainer {
    background-color: #0085ff;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: white;
    height: 70px;
}