@inherits LayoutComponentBase

<div class="page">
    <div class="Navbar">
        <img src="~/pictures/bong.jpg" class="imgStyling" />
        <NavMenu />
        <input type="search" class="form-control rounded searchBar" placeholder="Search"/>
    </div>
    <div class="footerContainer">
        <Footer />
    </div>
</div>
