@page "/CreateUser"
@using ARClassLibrary;
@using Models;
@inject ISqlDataAccess sql
@inject IConfiguration config
@inject IJSRuntime JSRuntime

<PageTitle>Upload Test</PageTitle>

<h1>Upload Test</h1>

<EditForm Model="newUser" OnValidSubmit="SubmitForm">
    <div>
        <label for="userName"> BrugerNavn: </label>
        <InputText id="username" class="form-control" @bind-Value="newUser.UserName" />
    </div>
    <div>
        <label for="firstName"> Fornavn: </label>
        <InputText id="firstName" class="form-control" @bind-Value="newUser.FirstName" />
    </div>
    <div>
        <label for="lastName"> Efternavn: </label>
        <InputText id="lastName" class="form-control" @bind-Value="newUser.LastName" />
    </div>
    <div>
        <label for="password"> Password: </label>
        <InputText id="password" class="form-control" @bind-Value="newUser.Password" />
    </div>
    <div>
        <label for="profilePicture"> Profil Billede: </label>
        <InputFile OnChange="@LoadFiles" class="form-control" accept=".png,.jpg,.jpeg,.glb" />
    </div>
    <button class="btn btn-primary mt-3" type="submit"> Opret Profil </button>
</EditForm>

@if (errors.Count > 0)
{
    <h2>Errors</h2>
    <ul class="text-danger">
        @foreach (var error in errors)
        {
            <li>@error</li>
        }
    </ul>
}