@page "/CreateUser"
@using ARClassLibrary;
@using Models;
@inject ISqlDataAccess sql
@inject IConfiguration config
@inject IJSRuntime JSRuntime

<PageTitle>Upload Test</PageTitle>

<h1>Upload Test</h1>

<EditForm Model="newUser" OnValidSubmit="CreateNewUser">
    <div>
        <label for="userName"> Brugernavn: </label>
        <InputText id="username" class="form-control" @bind-Value="newUser.UserName" />
    </div>
    <div>
        <label for="firstName"> Fornavn: </label>
        <InputText id="firstName" class="form-control" @bind-Value="newUser.FirstName" />
    </div>
    <div>
        <label for="lastName"> Efternavn: </label>
        <InputText id="lastName" class="form-control" @bind-Value="newUser.LastName" />
    </div>
    <div>
        <label for="password"> Password: </label>
        <InputText id="password" class="form-control" @bind-Value="newUser.Password" />
    </div>
    <div>
        <label for="Email"> Email: </label>
        <InputText id="email" class="form-control" @bind-Value="newUser.Email" />
    </div>
    <button class="btn btn-primary mt-3" type="submit"> Opret Profil </button>
</EditForm>

