@page "/"

<h1>Fag side</h1>
<h6>Vælg et fag for at lær mere...</h6>
<body>
    <div class="PageContainer">


        <div class="cardContainer">
            <div class="imageContainer">
                <img class="imaged" src="https://cdn.discordapp.com/attachments/1081169481851740221/1234879377875931269/9k.png?ex=663450ca&is=6632ff4a&hm=c5fb54d1489dd5c2be175b3762780eb79d0d7542e24a8883c51f12ac7ed85977&" alt="">
            </div>
            <div class="textContainer">
                <p>Eletriker</p>
            </div>
        </div>

        <div class="cardContainer">
            <div class="imageContainer">
                <img class="imaged" src="https://cdn.discordapp.com/attachments/1081169481851740221/1234879377875931269/9k.png?ex=663450ca&is=6632ff4a&hm=c5fb54d1489dd5c2be175b3762780eb79d0d7542e24a8883c51f12ac7ed85977&" alt="">
            </div>
            <div class="textContainer">
                <p>Eletriker</p>
            </div>
        </div>

        <div class="cardContainer">
            <div class="imageContainer">
                <img class="imaged" src="https://cdn.discordapp.com/attachments/1081169481851740221/1234879377875931269/9k.png?ex=663450ca&is=6632ff4a&hm=c5fb54d1489dd5c2be175b3762780eb79d0d7542e24a8883c51f12ac7ed85977&" alt="">
            </div>
            <div class="textContainer">
                <p>Eletriker</p>
            </div>
        </div>

        <div class="cardContainer">
            <div class="imageContainer">
                <img class="imaged" src="https://cdn.discordapp.com/attachments/1081169481851740221/1234879377875931269/9k.png?ex=663450ca&is=6632ff4a&hm=c5fb54d1489dd5c2be175b3762780eb79d0d7542e24a8883c51f12ac7ed85977&" alt="">
            </div>
            <div class="textContainer">
                <p>Eletriker</p>
            </div>
        </div>

        <div class="cardContainer">
            <div class="imageContainer">
                <img class="imaged" src="https://cdn.discordapp.com/attachments/1081169481851740221/1234879377875931269/9k.png?ex=663450ca&is=6632ff4a&hm=c5fb54d1489dd5c2be175b3762780eb79d0d7542e24a8883c51f12ac7ed85977&" alt="">
            </div>
            <div class="textContainer">
                <p>Eletriker</p>
            </div>
        </div>

        <div class="cardContainer">
            <div class="imageContainer">
                <img class="imaged" src="https://cdn.discordapp.com/attachments/1081169481851740221/1234879377875931269/9k.png?ex=663450ca&is=6632ff4a&hm=c5fb54d1489dd5c2be175b3762780eb79d0d7542e24a8883c51f12ac7ed85977&" alt="">
            </div>
            <div class="textContainer">
                <p>Eletriker</p>
            </div>
        </div>

        <div class="cardContainer">
            <div class="imageContainer">
                <img class="imaged" src="https://cdn.discordapp.com/attachments/1081169481851740221/1234879377875931269/9k.png?ex=663450ca&is=6632ff4a&hm=c5fb54d1489dd5c2be175b3762780eb79d0d7542e24a8883c51f12ac7ed85977&" alt="">
            </div>
            <div class="textContainer">
                <p>Eletriker</p>
            </div>
        </div>

        <div class="cardContainer">
            <div class="imageContainer">
                <img class="imaged" src="https://cdn.discordapp.com/attachments/1081169481851740221/1234879377875931269/9k.png?ex=663450ca&is=6632ff4a&hm=c5fb54d1489dd5c2be175b3762780eb79d0d7542e24a8883c51f12ac7ed85977&" alt="">
            </div>
            <div class="textContainer">
                <p>Eletriker</p>
            </div>
        </div>

        <div class="cardContainer">
            <div class="imageContainer">
                <img class="imaged" src="https://cdn.discordapp.com/attachments/1081169481851740221/1234879377875931269/9k.png?ex=663450ca&is=6632ff4a&hm=c5fb54d1489dd5c2be175b3762780eb79d0d7542e24a8883c51f12ac7ed85977&" alt="">
            </div>
            <div class="textContainer">
                <p>Eletriker</p>
            </div>
        </div>

        <div class="cardContainer">
            <div class="imageContainer">
                <img class="imaged" src="https://cdn.discordapp.com/attachments/1081169481851740221/1234879377875931269/9k.png?ex=663450ca&is=6632ff4a&hm=c5fb54d1489dd5c2be175b3762780eb79d0d7542e24a8883c51f12ac7ed85977&" alt="">
            </div>
            <div class="textContainer">
                <p>Eletriker</p>
            </div>
        </div>

        <div class="cardContainer">
            <div class="imageContainer">
                <img class="imaged" src="https://cdn.discordapp.com/attachments/1081169481851740221/1234879377875931269/9k.png?ex=663450ca&is=6632ff4a&hm=c5fb54d1489dd5c2be175b3762780eb79d0d7542e24a8883c51f12ac7ed85977&" alt="">
            </div>
            <div class="textContainer">
                <p>Eletriker</p>
            </div>
        </div>

        <div class="cardContainer">
            <div class="imageContainer">
                <img class="imaged" src="https://cdn.discordapp.com/attachments/1081169481851740221/1234879377875931269/9k.png?ex=663450ca&is=6632ff4a&hm=c5fb54d1489dd5c2be175b3762780eb79d0d7542e24a8883c51f12ac7ed85977&" alt="">
            </div>
            <div class="textContainer">
                <p>Eletriker</p>
            </div>
        </div>

        <div class="cardContainer">
            <div class="imageContainer">
                <img class="imaged" src="https://cdn.discordapp.com/attachments/1081169481851740221/1234879377875931269/9k.png?ex=663450ca&is=6632ff4a&hm=c5fb54d1489dd5c2be175b3762780eb79d0d7542e24a8883c51f12ac7ed85977&" alt="">
            </div>
            <div class="textContainer">
                <p>Eletriker</p>
            </div>
        </div>

        <div class="cardContainer">
            <div class="imageContainer">
                <img class="imaged" src="https://cdn.discordapp.com/attachments/1081169481851740221/1234879377875931269/9k.png?ex=663450ca&is=6632ff4a&hm=c5fb54d1489dd5c2be175b3762780eb79d0d7542e24a8883c51f12ac7ed85977&" alt="">
            </div>
            <div class="textContainer">
                <p>Eletriker</p>
            </div>
        </div>

        <div class="cardContainer">
            <div class="imageContainer">
                <img class="imaged" src="https://cdn.discordapp.com/attachments/1081169481851740221/1234879377875931269/9k.png?ex=663450ca&is=6632ff4a&hm=c5fb54d1489dd5c2be175b3762780eb79d0d7542e24a8883c51f12ac7ed85977&" alt="">
            </div>
            <div class="textContainer">
                <p>Eletriker</p>
            </div>
        </div>

        <div class="cardContainer">
            <div class="imageContainer">
                <img class="imaged" src="https://cdn.discordapp.com/attachments/1081169481851740221/1234879377875931269/9k.png?ex=663450ca&is=6632ff4a&hm=c5fb54d1489dd5c2be175b3762780eb79d0d7542e24a8883c51f12ac7ed85977&" alt="">
            </div>
            <div class="textContainer">
                <p>Eletriker</p>
            </div>
        </div>

        <div class="cardContainer">
            <div class="imageContainer">
                <img class="imaged" src="https://cdn.discordapp.com/attachments/1081169481851740221/1234879377875931269/9k.png?ex=663450ca&is=6632ff4a&hm=c5fb54d1489dd5c2be175b3762780eb79d0d7542e24a8883c51f12ac7ed85977&" alt="">
            </div>
            <div class="textContainer">
                <p>Eletriker</p>
            </div>
        </div>

        <div class="cardContainer">
            <div class="imageContainer">
                <img class="imaged" src="https://cdn.discordapp.com/attachments/1081169481851740221/1234879377875931269/9k.png?ex=663450ca&is=6632ff4a&hm=c5fb54d1489dd5c2be175b3762780eb79d0d7542e24a8883c51f12ac7ed85977&" alt="">
            </div>
            <div class="textContainer">
                <p>Eletriker</p>
            </div>
        </div>

        <div class="cardContainer">
            <div class="imageContainer">
                <img class="imaged" src="https://cdn.discordapp.com/attachments/1081169481851740221/1234879377875931269/9k.png?ex=663450ca&is=6632ff4a&hm=c5fb54d1489dd5c2be175b3762780eb79d0d7542e24a8883c51f12ac7ed85977&" alt="">
            </div>
            <div class="textContainer">
                <p>Eletriker</p>
            </div>
        </div>


    </div>
</body>
