@page "/login"
@using ARClassLibrary
@using Models;
@using System.Text
@using System.Security.Cryptography
@inject ISqlDataAccess sql
@inject IConfiguration config
@inject NavigationManager NavigationManager
@inject AuthenticationService authService
<PageTitle>Login</PageTitle>

<h1>Login</h1>

<EditForm Model="userDTO" OnValidSubmit="UserLogin">
    <div>
        <label for="userName"> Brugernavn: </label>
        <InputText id="username" class="form-control" @bind-Value="userDTO.UserName" />
    </div>
    <div>
        <label for="password"> Password: </label>
        <InputText id="password" class="form-control" @bind-Value="userDTO.Password" />
    </div>
    <button class="btn btn-primary mt-3" type="submit"> Login </button>
</EditForm>



 
