@page "/Model"

<body>
    <div id="heroContainer">


        <div class="PageContainer">


            <div class="cardContainer">
                <div class="textContainer">
                    <p>{Name of model}</p>
                </div>
                <div class="imageContainer">
                    <img class="imaged" src="https://cdn.discordapp.com/attachments/1081169481851740221/1234879377875931269/9k.png?ex=663450ca&is=6632ff4a&hm=c5fb54d1489dd5c2be175b3762780eb79d0d7542e24a8883c51f12ac7ed85977&" alt="">
                </div>
            </div>
        </div>

        <div class="decriptionContainer">
            <div class="uploader">
                <div id="uploaderName"> {Name or username} </div>
                <img src="https://cdn.discordapp.com/attachments/1115922973619126293/1235572613795811378/user-profile-icon-free-vector.jpg?ex=6634dc2a&is=66338aaa&hm=86fb146ca0a82d9d0a8f45a76e26b19e621be88b11df52d6c822f0bd47090f39&" alt="">
            </div>

            <div>
                <div>
                    <button class="modelButton">Downloade</button>
                </div>
                <div>
                    <button class="modelButton">QR code</button>
                </div>
            </div>
            <div class="decription">
                <div>
                    {discription placeholder}
                </div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Gravida cum sociis natoque penatibus et magnis. Ipsum dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Quam nulla porttitor massa id neque. Pulvinar elementum integer enim neque volutpat ac. Ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget. Suspendisse faucibus interdum posuere lorem ipsum dolor. Scelerisque eu ultrices vitae auctor. Quis vel eros donec ac. Blandit cursus risus at ultrices. Metus dictum at tempor commodo ullamcorper a lacus vestibulum. Ut diam quam nulla porttitor massa id neque aliquam. Lacus luctus accumsan tortor posuere ac ut consequat semper. Ut porttitor leo a diam sollicitudin tempor id. Bibendum at varius vel pharetra. Nulla facilisi cras fermentum odio eu feugiat pretium. Hendrerit gravida rutrum quisque non tellus. Dapibus ultrices in iaculis nunc sed augue. Ac ut consequat semper viverra.
            </div>
            <div>
                more information if needed
            </div>

        </div>


    </div>
</body>


@code {

}
