@page "/Admin"

<div class="userTable">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>ostemanden</td>
                <td>ostemanden@gmail.com</td>
                <td>ost123</td>
                <td><button>Edit</button></td>
                <td><button>Delete</button></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>mælkemanden</td>
                <td>mælkemanden@gmail.com</td>
                <td>mælk123</td>
                <td><button>Edit</button></td>
                <td><button>Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>


@code {

}
