@page "/CreateUser"

<form class="formStyling">
    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="email" id="form2Example1" class="form-control" />
        <label class="form-label" for="form2Example1">Email address</label>
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
        <input type="username" id="form2Example1" class="form-control" />
        <label class="form-label" for="form2Example1">Username</label>
    </div>

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="password" id="form2Example2" class="form-control" />
        <label class="form-label" for="form2Example2">Password</label>
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="form2Example2">Role</label>
        <select>
            <option value="None">None</option>
            <option value="Underviser">Underviser</option>
            <option value="Admin">Admin</option>
        </select>
    </div>

    <!-- Submit button -->
    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Create</button>

</form>

@code {

}
